html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #d4d8d3;
}

.application {
  width: 100vw;
  height: 100vh;
  flex-direction: column; /* Alignement vertical */
  align-items: center; /* Centrer horizontalement */
  gap: 50px; /* Espacement entre l'horloge et les boutons */
  display: flex;
  justify-content: center;
  align-items: center;
}
